{% for vhost in apache_vhosts %}
<VirtualHost *:80>
  ServerName {{ vhost.server_name }}
  DocumentRoot {{ vhost.document_root }}
{% if vhost.server_admin is defined %}
  ServerAdmin {{ vhost.server_admin }}
{% endif %}
  <Directory "{{ vhost.document_root }}">
    AllowOverride None
    Require all granted
  </Directory>
</VirtualHost>

{% endfor %}
